/* ====== MENU ====== */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
    color: #fff;
    max-width: 1200px;
    position: fixed;
    top: 20px;
    right: 50%;
    left: 50%;
    transform: translate(-50%, 0);
}

.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

.menu {
    display: flex;
    list-style: none;
    gap: 20px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

.burger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
}

.burger span {
    width: 25px;
    height: 3px;
    background-color: #fff;
}

/* Адаптивность для мобильного меню сбоку */
@media (max-width: 768px) {
    .menu {
        display: flex;
        flex-direction: column;
        position: fixed;
        top: 27px;
        margin-right: -40px;
        right: -250px;
        background-color: #333;
        width: 250px;
        height: 100%;
        padding-top: 60px;
        transition: right 0.3s ease;
        z-index: 10;
    }
    .menu.show {
        right: 0;
    }
    .burger {
        display: flex;
    }
}

/* ====== END MENU ====== */
